# Car Evaluation dataset

https://www.kaggle.com/datasets/elikplim/car-evaluation-data-set

In [34]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline
import warnings
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as slp
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

warnings.filterwarnings('ignore')

In [19]:
df = pd.read_csv('../common/car_evaluation.csv', header=None)
df. shape

(1728, 7)

In [26]:
col_list = ["buying", "maintenance", "doors", "persons", "luggage", "safety", "class"]
df.columns = col_list
df.head()

  buying maintenance doors persons luggage safety  class
0  vhigh       vhigh     2       2   small    low  unacc
1  vhigh       vhigh     2       2   small    med  unacc
2  vhigh       vhigh     2       2   small   high  unacc
3  vhigh       vhigh     2       2     med    low  unacc
4  vhigh       vhigh     2       2     med    med  unacc

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   buying       1728 non-null   object
 1   maintenance  1728 non-null   object
 2   doors        1728 non-null   object
 3   persons      1728 non-null   object
 4   luggage      1728 non-null   object
 5   safety       1728 non-null   object
 6   class        1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [28]:
df.isnull().sum()

buying         0
maintenance    0
doors          0
persons        0
luggage        0
safety         0
class          0
dtype: int64

### Test-train

In [29]:
X = df.drop(['class'], axis=1)
y = df['class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)
X_train.shape, X_test.shape

((1157, 6), (571, 6))

### Encoding

In [32]:
encoder = slp.OrdinalEncoder()

col_list = ["buying", "maintenance", "doors", "persons", "luggage", "safety"]

X_train[col_list] = encoder.fit_transform(X_train[col_list])
X_test[col_list] = encoder.fit_transform(X_test[col_list])
X_train.head()

      buying  maintenance  doors  persons  luggage  safety
48       3.0          3.0    1.0      2.0      1.0     1.0
468      0.0          3.0    1.0      1.0      2.0     1.0
155      3.0          0.0    1.0      2.0      2.0     0.0
1721     1.0          1.0    3.0      2.0      2.0     0.0
1208     2.0          1.0    0.0      2.0      2.0     0.0

### Модель

In [35]:
rfc = RandomForestClassifier(random_state=42)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

print('Basic accuracy: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Basic accuracy: 0.9597

### n_estimators = 100

In [ ]:
rfc = RandomForestClassifier(random_state=42, n_estimators=100)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

print('Basic accuracy: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

### n_estimators = 1000

In [ ]:
rfc = RandomForestClassifier(random_state=42, n_estimators=1000)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)

print('Basic accuracy: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))